@CHARSET "UTF-8";
#Sample_info_table{
	margin:5px auto;
}

#Sample_info_table td{
	padding:5px 100px;
}


.sample_div{
	width:1200px;
}

div .query_table,div .result_table ,.result_rate_table, .result_data_table{
	border:solid 1px rgba(226, 226, 226, 0.77);
	text-align: center;
	margin:0 auto;
	 border-collapse:collapse;
	
}

table[Attributes Style] {
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}
#Query_table th,#Query_table td,#Result_table th,#Result_table td,#Result_rate_table th,#Result_rate_table td,#Result_data_table th, #Result_data_table td{
	border:solid 1px rgba(226, 226, 226, 0.77);
}
#Query_table { line-height:30px; width:100%;}
#Query_table th { text-align:left; font-weight:bold; height:40px; padding-left:15px;}
#Query_table td{ text-align:left; padding-left:15px; }
#Query_table .text{width:300px; border:1px solid #ccc; line-height:22px;}
#Query_table .btn{ width:80px; padding:2px; cursor:pointer; border:1px solid #ccc; font-size:14px;}

 #Result_div{
 width:80%;
 margin:0 auto;
 }
#Result_rate_div,#Result_rate_div{
	width:50%;
	margin:0 auto;
}
#Result_data_div{
		width:70%;
	margin:0 auto;
}
#Result_rate_table th,#Result_rate_table td,#Result_table th,#Result_table td,#Result_rate_div th, #Result_rate_div td,#Result_data_div th, #Result_data_div td{
	text-align:center;
	padding:10px;
}
#Result_rate_table th ,#Result_table th,Result_rate_div th,#Result_data_div th{
	font-weight:bold;
	
}
#sidebarDiv {
    min-height: 40px;
    height: auto;
    border-right: solid 1px#E2E0E0;
    padding-right:0px;
    margin-right:50px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.download_btn{
	
}