/**
* Author: handi 
* Last Changed by handi
* Last Update : 2014-05-29
*/
body, h1, h2, h3, h4, h5, h6, blockquote, p, pre, dl, dd, menu, ol, ul, caption, th, td, form, fieldset, legend, input, button, textarea { margin:0; padding:0 }
h1, h2, h3, h4, h5, h6 { font-size:100% }
menu, ol, ul { list-style:none }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
legend { display:none; }
a:active, a:focus { outline:none; }
address, cite, dfn, em, var { font-style:normal }
code, kbd, pre, samp { font-family:'courier new', courier, monospace }
input, button, textarea, select { font-size:100%; outline:none; }
abbr[title] { border-bottom:1px dotted; cursor:help }
a { text-decoration:none; outline:none; star:expression(this.onFocus=this.blur());}
body, input, button, textarea, select, option, optgroup { font:12px/1 tahoma, \5b8b\4f53, sans-serif }
html { background:url(/img/htmlbg.png); }
body { background:url(/img/bodybg.png) repeat-x 50% 0; }
.clearfix { zoom:1; }
.clearfix:after { content:''; display:block; clear:both; }

/* form */
.in-text { border: 1px solid #E3E3E3; border-radius: 3px; height: 18px; line-height:18px; padding: 5px; width:172px; color:#969696; }
.in-select {border: 1px solid #E3E3E3;border-radius: 3px; margin:0; vertical-align:middle; color:#969696; }
.position-r{ position:relative;}
.position-a{ position:absolute;}
.font-red{ color:#eb4f65;}
.font-yel{ color:#ff7200;}
.font-gre{ color:#5a960a;}
.font-gay{ color:#787878;}

/*  header */
.header { width:100%; background-color:#2e3242; height:55px; margin-bottom:13px;position:fixed;left:0px;top:0px;z-index:99999; }
.header-con { width:1200px; margin:0 auto; zoom:1; }
.header .logo { float:left; margin:8px 0 0 20px; display:inline; }
.header .search, .header .toolbar { display:inline; font-size:13px; font-family:\5B8B\4F53; font-weight: bold;}
.header .search { float:left; width:254px; height:26px; line-height:26px; background-color:#616679; margin:14px 0 0 350px; padding-left:8px; border-radius:2px; }
.header .search .sr-fields { width:224px; height:20px; line-height:20px; padding-top:2px; *padding-top:3px;background:none; border:none; color:#c4c8d8; float:left; }
.header .search .sr-submit { width:28px; height:26px; float:left; background:url(/img/icon.png) no-repeat 2px -259px; border:none; cursor:pointer; }
.header .toolbar { float:right; color:#fff; line-height:54px; padding:0 10px; }
.header .toolbar span { padding:0 8px; }
.header .toolbar span em { background-color:#ed5757; padding:2px; border-radius:2px; font-style:normal; margin-left:4px; }
.header .toolbar span a { color:#fff; }
.header .toolbar span a:hover { text-decoration:underline; }
.header .toolbar span .tip{ box-shadow:1px 1px 3px #CCC; background-color: #fff; border-radius: 3px; color: #404040; display: block; font-size:12px;font-weight:normal;line-height: 18px; padding:0 12px 8px; position: absolute; text-align:left; top:48px; width:186px; margin-left:66px; _margin-left:-80px;}
.header .toolbar .tip .line{ border-bottom:1px dotted #ababab; line-height:1px; margin:6px 0;}
.header .toolbar .tip .more{ margin-top:5px;}
.header .toolbar .tip .more a{ color:#1a8bf1;}	
.header .toolbar .tip .tippage{ float:right; height:24px; width:80px; overflow:hidden; zoom:1;}
.header .toolbar .tip .tippage span{ float:left;}
.header .toolbar .tip .tippage strong{ color:#fa5000; font-weight:700;}
.header .toolbar .tip .tippage a{ background:url(/img/icon.png) no-repeat; width:19px; height:19px; display:block;}
.header .toolbar .tip .tippage a.a-left{ background-position:0 -509px; float:left; margin-right:8px;}
.header .toolbar .tip .tippage a.a-left:hover{background-position:0 -594px;}
.header .toolbar .tip .tippage a.a-right{ background-position:0 -633px; float:right; margin-left:8px;}
.header .toolbar .tip .tippage a.a-right:hover{background-position:0 -553px;}
.header .toolbar .tip .tippage a.none-left,
.header .toolbar .tip .tippage a.none-left:hover{background-position:-64px -509px;float:left;margin-right:8px; cursor:default}
.header .toolbar .tip .tippage a.none-right,
.header .toolbar .tip .tippage a.none-right:hover{background-position:-64px -553px;float:right;margin-left:8px; cursor:default}
.header .toolbar .tip i.t{ top:-9px; color:#fff; font-family:Simsun,Arial; left:62px; position:absolute; font-style:normal; font-size:20px;}
.header .toolbar .tip .tip-close{width:100%;text-align:right;font-size:14px;font-family:"微软雅黑";line-height:20px;cursor:pointer;}
.header .toolbar .tip .tip-close:hover{text-decoration:underline;}
.header .toolbar .tip span { padding:0px;}
/* content */
.content { width:1200px; margin:0 auto; border-radius:6px;padding-top:65px;_padding-top:0px; /* box-shadow:0 0 5px #2c324c; */ }

.content select{ padding:4px;}
/* side */
.side { width:150px; float:left; padding-top:18px; color:#fff; font-size:16px; font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53; font-weight:700; }
.side .sidenav-tit { padding-left:20px; line-height:20px; margin-bottom:10px; }
.side .sidenav-list { margin-bottom:30px; }
.side .sidenav-list li { height:30px; line-height:30px;}
.side .sidenav-list li a { line-height:30px; color:#fff; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53; font-weight:300; display:block; padding-left:22px; }
.side .sidenav-list li.cur a, .side .sidenav-list li a:hover { background-color:#1e233c; background:url(/img/icon.png) no-repeat 0 -910px; background-color:#1e233c; }
.side .sidenav-list li span { background:url(/img/icon.png) no-repeat; padding-left:20px; }
.side .sidenav-list li .s1 { background-position:0 5px; font-size: 15px;}
.side .sidenav-list li .s2 { background-position:0 -25px; font-size: 15px; }
.side .sidenav-list li .s3 { background-position:0 -54px; font-size: 15px; }
.side .sidenav-list li .s4 { background-position:0 -85px; font-size: 15px; }
.side .sidenav-list li .s5 { background-position:0 -166px; font-size: 15px; }
.side .sidenav-list li .s6 { background-position:0 -197px; font-size: 15px; }
.side .sidenav-list li .s7 { background-position:0 -226px; font-size: 15px; }
.side .sidenav-list li .s8 { background-position:0 -106px; font-size: 15px; }
.side .sidenav-list li .s9 { background-position:0 -122px; font-size: 15px; }
/* main */
.main { padding-left:150px; background-color:#2c324c; border-radius:6px;}
.main-content { background-color:#f5f5f5; padding-right:172px; border-radius:6px; }
.main-content-bgcolor { background-color:#fff; padding:20px; border-right:1px solid #dcdcdc;}
.main-content .list-query-box{ float:left\9;background:#F5F5F5;border: 1px solid #E2E2E2;margin-bottom: 10px;padding: 3px 5px 0;}
.main-content .crumbs{margin-bottom:20px; color:#2c324c; font-weight:700; font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53;}
.main-content .crumbs strong{ font-size:16px; margin-right:10px;}
.main-content .formlist{ height:112px; margin-left:-20px;*margin-left: 0 ;}
.main-content .formlist ul { overflow:hidden; zoom:1;width:1008px\9; }
.main-content .formlist li { float:left; display:inline; width:336px; height:31px; line-height:30px; margin-bottom:10px; overflow:hidden; zoom:1;}
.main-content .formlist-left { width:120px; float:left; text-align:right; font-size:14px; color:#787878; }
.main-content .formlist-right { float:left; padding-left:10px; }
.main-content .formlist-right .in-select{ width:184px;height:28px;line-height:28px;}
	.calendar-wap{height:30px; display:inline-block}
	.calendar-wap .calendar{right:10px; top:7px; width:15px; height:16px; background: url(/img/icon.png) 0 -393px; cursor:pointer;}

.btnbox{ margin-bottom:7px; margin-top:7px; overflow:hidden; zoom:1;}
.btnbox .btn{ text-align:center; border-radius:3px; display:block;}
.btnbox .search-btn{ color:#fff; background-color:#ed7457; float:left; display:inline; margin-left:810px;width:68px; height:30px; line-height:30px; font-size:14px; }
.btnbox .search-btn:hover{  background-color:#f4603c;}
.btnbox .reset-btn{width:68px; height:30px; line-height:30px; font-size:14px;  color:#8d8d8d; float:left; background-color:#e5e2e2;float:left; display:inline; margin-left:20px;}
.btnbox .reset-btn:hover{ background-color:#dad8d8;}

.btnbox2{ margin-bottom:7px; margin-top:7px; overflow:hidden; zoom:1;}
.btnbox2 .btn{ text-align:center; border-radius:3px; display:block;}
.btnbox2 .search-btn{ color:#fff; background-color:#ed7457; float:left; display:inline; margin-left:710px;width:68px; height:30px; line-height:30px; font-size:14px; }
.btnbox2 .search-btn:hover{  background-color:#f4603c;}
.btnbox2 .reset-btn{width:68px; height:30px; line-height:30px; font-size:14px;  color:#8d8d8d; float:left; background-color:#e5e2e2;float:left; display:inline; margin-left:20px;}
.btnbox2 .reset-btn:hover{ background-color:#dad8d8;}
.btnbox2 .search2-btn{color:#fff; background-color:#ed7457; width:68px; height:30px; line-height:30px; font-size:14px; float:left; display:inline; margin-left:20px;}
.btnbox2 .search2-btn:hover{ background-color:#ed7457;} 

.btnbox3{ margin-bottom:7px; margin-top:7px; overflow:hidden; zoom:1;}  
.btnbox3 .btn{ text-align:center; border-radius:3px; display:block;}
.btnbox3 .search-btn{ color:#fff; background-color:#ed7457; float:left; display:inline; margin-left:900px;width:68px; height:30px; line-height:30px; font-size:14px; }
.btnbox3 .search-btn:hover{  background-color:#f4603c;}
.btnbox3 .reset-btn{width:68px; height:30px; line-height:30px; font-size:14px;  color:#8d8d8d; float:left; background-color:#e5e2e2;float:left; display:inline; margin-left:20px;}
.btnbox3 .reset-btn:hover{ background-color:#dad8d8;}
.btnbox3 .search2-btn{color:#fff; background-color:#ed7457; width:68px; height:30px; line-height:30px; font-size:14px; float:left; display:inline; margin-left:20px;}
.btnbox3 .search2-btn:hover{ background-color:#ed7457;} 

/* tablelist */
.tablelist{ margin-bottom:20px;}
.tablelist td{ border:1px solid #dde6ea; line-height:20px;}
.tablelist thead th{ background-color:#f3f3f3; height:40px; color:#404040; font-size:14px; text-align:center; border:1px solid #dde6ea; font-weight:300;}
.tablelist tbody td{ font-size:12px; padding:18px 12px; color:#646464;text-align:center;} 
.tablelist tbody .text-tl{ text-align:center;}
.tablelist tbody td a{ color:#1a8bf1;}
.tablelist tbody td a:hover{ text-decoration:underline; color:#1a8bf1;}

/* info */  
.info { width:172px; float:right;}
.user-img{ width:104px; height:103px; border:4px solid #e2e2e2;text-align:center; margin:18px 0 16px 10px;}
/* .user-img img{max-width:104px;max-height:103px;_width:104px;_height:103px;} */
.user-info{ padding-left:12px;}
.user-info li{ height:24px; line-height:24px; color:#646464;}

/* paginating */
.paginating-wap{ height:24px; padding-bottom:40px;}
.paginating-lt{ float:left; width:220px; color:#969696; padding-left:10px;}
.paginating-lt label{ margin-right:10px;}
.paginating-rt{ float:right; width:630px;}
.paginating { color:#969696; cursor:default; overflow:hidden;}
.pagepanel, .pagepanel a, .pagepanel span { float:left; height:23px; line-height:23px; overflow:hidden; text-align:right; }
.pagepanel a, .pagepanel span { background:url(/img/paginating.png) no-repeat right 0; }
.pageform { float:right; font:12px/23px; overflow:hidden; padding:0; width:190px; }
.pageform a, .pageform a:hover, .pageform span, .pageform input { cursor:default; display:inline; float:right; height:18px; margin-left:5px; padding:1px 0; *padding:2px 0 0;
padding:2px 0 0\0; line-height:23px; }
.pageform input { border:1px solid #ccc; color:#404040; height:16px; line-height:16px; width:28px; vertical-align:middle; cursor: pointer; padding:2px 2px; }
.pageform a { background:url(/img/paginating.png) no-repeat 0 -92px; color:#666; cursor:pointer; text-align:center; text-decoration:none; width:42px; height:23px; line-height:22px; color:#fff; padding:0; }
.pageform a:hover { background:url(/img/paginating.png) no-repeat 0 -116px; color:#666; cursor:pointer; text-align:center; text-decoration:none; width:42px; height:23px; line-height:22px; color:#fff; padding:0; }
.pagepanel a { color:#666; cursor:default; font:12px/23px Arial; margin-left:5px; text-decoration:none; padding-right:7px; height:23px; }
.pagepanel a span { background-position:-57px -23px; cursor:pointer; display:inline-block; float:none; height:23px; line-height:23px; padding:0 0 0 7px; *display:inline;*zoom:1;}
.pagepanel a:hover, .pagepanel .current, .pagepanel .current:hover { background-position:right -46px; text-decoration:none; }
.pagepanel a:hover span, .pagepanel .current span, .pagepanel .current:hover span { background:url(/img/paginating.png) no-repeat -57px -69px; color:#fff; cursor:pointer; font-weight:bold; }
.pagepanel .down:hover span, .pagepanel .up:hover span, .pagepanel .none:hover span { font-weight:normal;}
.pagepanel .text { background:none; margin-right:10px; font-family:Arial; }
.pagepanel .text select { margin-right:4px; color:#555; vertical-align:middle; }
.pagepanel .none span { color:#ccc; }
.pagepanel .none:hover span { background-position:-57px -23px; color:#ccc; cursor:default; }
.pagepanel .none:hover { background-position:right 0; cursor:default; }
.pagepanel span.none { background:none; margin-left:6px; }

/* ticket管理系统 */
.mc-title{ background:url(/img/mc-title.png) no-repeat; text-indent:14px;  height:34px; line-height:34px; color:#000000; font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53; margin-bottom:14px;}
.mc-details1-title{ background:url(/img/mc-details1-title.png) no-repeat; text-indent:14px;  height:34px; line-height:34px; color:#646464; font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53;}
.mc-details2-title{ background:url(/img/mc-details2-title.png) no-repeat; text-indent:14px;  height:34px; line-height:34px; color:#646464; font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53;}
.mc-details3-title{ background:url(/img/mc-details3-title.png) no-repeat;text-indent:14px;  height:34px; line-height:34px; color:#646464; font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53;}
.msg-wap .field{ overflow:hidden; zoom:1; margin-bottom:10px;}
.msg-wap .field label{ float:left; display:inline; height:26px; line-height:26px; width:110px; text-align:right; margin-right:18px;}
.msg-wap .field label{ color:#484848; font-size:14px; font-weight:300; font-weight: bold;}
.msg-wap .field label i{ color:#fb4d59; font-size:14px; font-style:normal; padding:0 7px 0 0; vertical-align:-2px;}
.msg-wap .txt{ height:28px; _height:30px;}
.msg-wap .txt .msg{ color:#969696;}
.msg-wap .txt input{ border: 1px solid #E3E3E3; border-radius: 3px; height: 18px; line-height:18px; padding:4px; color:#969696; margin-right:10px;}
.msg-wap .field-tit input{ width:516px;}
.msg-wap .text textarea{ border:1px solid #dcdce5; line-height:16px; border-radius:3px; width:516px; height:110px; padding:4px; resize:none;color:#969696;}
.msg-wap .sel select{border: 1px solid #E3E3E3; border-radius:3px;height:28px; margin:0;line-height:28px; vertical-align:middle; color:#010101; width:190px;}
.msg-wap .field-time .in-text{ width:150px;}
.msg-wap .field-time .calendar{ right:20px;}
.msg-wap .radio li{ height:32px; line-height:32px;color:#5a5a5a;}
.msg-wap .radio input{ margin-right:6px; vertical-align:-2px;}
.msg-wap .radio span{ margin-right:18px;}
.msg-wap .radio .sel select{ margin-right:20px;}
.msg-wap .field .fl-right{ padding-left:128px;}
.msg-wap .field-list .fl-right{ padding-left:113px;}

.msg-wap .fl-right-btn{ position:relative; overflow:hidden; background-color:#e5e2e2; width:86px; height:30px; line-height:30px; text-align:center; color:#8d8d8d; display:block; margin-bottom:20px; font-size:14px; border-radius:3px;}

.msg-wap .fl-right-btn input{ font-size:18px; position:absolute; right:0; top:0; width:86px; height:30px; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.msg-wap .fl-right-btn:hover{ background-color:#dad8d8;}
.msg-wap .file{ position:relative; margin-bottom:30px;}
.msg-wap .file dt{ float:left;}
.msg-wap .file dd{ padding-left:74px; line-height:18px; width:430px;}
.msg-wap .appendix{ color:#5a5a5a; margin-bottom:6px;}
.msg-wap .intr{ color:#969696;}
.msg-wap .file-btn{ /* position:absolute; top:96px; right:0px; */margin-left:500px;}
.msg-wap .file-btn a{ float:left; width:62px; height:24px; line-height:24px; color:#8d8d8d;float:left; background:url(/img/icon.png) no-repeat; margin:0 5px; text-indent:16px; font-size:12px;}
.msg-wap .file-btn a.del-btn{ background-position:0 -420px;}
.msg-wap .file-btn a.btn-down{ background-position:-1px -460px;}
.msg-wap .file-btn a.del-btn:hover{ background-position:0 -722px;}
.msg-wap .file-btn a.btn-down:hover{ background-position:0 -764px;}
.msg-wap .field-copy{ margin-bottom:20px;}
.msg-wap .effect li,
.msg-wap .inform li{ color:#5a5a5a; margin:-3px 10px 5px 0; height:30px; line-height:30px; width:670px; }
.msg-wap .inform li .checkbox,
.msg-wap .effect li .checkbox{ vertical-align:-3px; margin-right:10px;}
.msg-wap .effect .txt{ padding-left:24px;} 
.msg-wap .effect .txt input{ margin-left:10px; width:436px;}
.msg-wap .submit{ width:144px; height:40px; line-height:40px;  margin:0 auto;}
.msg-wap .submit a{ display:block;text-align:center; color:#fff; background-color:#ed7457; font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53; border-radius:3px;}
.msg-wap .submit a:hover{ background-color:#f4603c;}
.input-w{ width:149px;}

/* 查看详情 */
.main-content .crumbs span{ font-size:14px; margin:0 10px;}
.main-content .crumbs i{ font-style:normal; font-size:22px;}
.main-content .tip{ background:url(/img/icon.png) no-repeat 10px -286px #f96541; height:34px; line-height:34px; color:#fff; font-size:14px; font-weight:700; text-indent:40px;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53; margin-bottom:4px;  padding-left:5px; border-radius:3px;}
.main-content .tip-list{ background-color:#f7f7f7; border-radius:3px; padding:10px 20px; margin-bottom:30px;}
.main-content .tip-list li{ line-height:22px; color:#5a5a5a; padding-left:24px; background:url(/img/icon.png) no-repeat 3px -819px;}
.msg-wap .field-list label{ width:94px;}
.msg-wap .field-list span{ line-height:26px; color:#5a5a5a;}
.msg-wap .fl-right li{ line-height:26px;  color:#5a5a5a; margin-bottom:4px;/* clear:both; */}
.msg-wap .fl-right li.check .checkbox{ margin-right:8px; vertical-align:-2px;}

.msg-wap .filebox{ margin:30px 0 0; background-color:#f5f5f5; padding:12px 10px 8px; border-radius:5px; border:1px solid #eeeaea;}
.msg-wap .filebox dl dd p{ color:#c8c8c8;}
.msg-wap .del-msg{ text-align:right; color:#969696;}
.msg-wap .del-msg span{color:#969696;}
.msg-wap .txt-l{background-color:#f5f5f5; padding:2px 9px; border-radius:3px; width:280px; margin:12px 0; overflow:hidden; height:26px;}
.msg-wap .hover{ background-color:#f0f0f0}
.msg-wap .txt-l span{margin-right:10px;}
.msg-wap .txt-l .close{ float:right; margin-left:20px; width:12px; height:12px; text-indent:-9999px; background:url(/img/icon.png) no-repeat 0 -887px; margin-top:5px;}
.msg-wap .txt-l .close:hover{ background-position:0 -860px;}

/*tab*/
#tab-1{ padding-left:112px;}
.wap-ul{ overflow:hidden; zoom:1;}
.wap-ul li{ float:left; display:inline; width:76px; height:30px; text-align:center; line-height:30px; font-size:14px;margin-right:5px;}
.wap-ul li a{background:url(/img/btnbg.png) no-repeat -81px 0; z-index:10000; position:relative;display:block; width:76px; height:30px;color:#646464; }
.wap-ul li a:hover,.wap-ul li.cur a{ background-position:0 0;}
.wap .bd{ border:1px solid #dcdcdc; height:110px; width:632px; padding:12px 12px; margin-bottom:22px; margin-top:-1px;border-bottom-right-radius:3px;border-top-right-radius:3px;border-bottom-left-radius:3px;}
.wap .bd textarea{ width:632px; height:112px; border:none; resize:none;color:#5a5a5a; float:left; margin:0; padding:0; display:inline;*border:1px solid none;*overflow-y:auto;}
.btnbox .com-btn{ width:144px; height:39px; line-height:39px; color:#fff; font-size:16px; background-color:#ed7457; margin:0 auto;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53;}
.btnbox .com-btn:hover{ background-color:#f4603c;}

/*comment*/
.comment{ padding-left:18px;}
.comment-con{ /* height:86px; */ border-bottom:1px solid #f5f5f5; margin-bottom:17px; clear:both;height:auto!important; height:86px; min-height:86px;}
.comment-tit{ margin-bottom:23px;}
.comment-tit span{ color:#646464; padding:0 6px;}
.comment-tit a{ padding:0 6px; color:#0691f2;}
.comment .cc-l{ float:left;}
.comment .cc-l p{ width:60px; text-align:center; color:#646464; line-height:22px;}
.comment .cc-r{ padding-left:80px;padding-bottom:10px;}
.comment .cc-r p{ line-height:18px;color:#5a5a5a; /* height:56px; */ overflow:hidden;margin-bottom:10px;word-wrap:break-word;}
.comment .cc-r span{ display:block; color:#969696;}
.comment .cc-r span a{ float:right; color:#0691f2; margin-right:5px;}

/*alertbox*/
.alertbox{ position:fixed; _position:absolute; z-index:99999;margin-top:-165px; margin-left:-262px; left:50%; top:50%; width:525px; height:328px; background-color:#ccc; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000'); padding-top:4px; border-radius:2px;}
:root .alertbox {
	filter:none;
	background-color:rgba(0,0,0,0.2);
}
.alertbox-con{ width:517px; height:286px; padding-top:37px; margin:0 auto; background-color:#fff;}
.alertbox-con .con{ width:478px; margin:0 auto 19px; overflow:hidden;zoom:1;position:relative; overflow:hidden;}
.alertbox-con .con span{ width:79px; float:left; text-align:right; margin-right:12px; color:#646464; font-size:14px; line-height:24px;}
.alertbox-con .con input{border: 1px solid #E3E3E3; border-radius:3px; height: 18px; line-height:18px; padding:3px; width:236px; color:#969696; float:left;}
.alertbox-con .con a{ float:left; width:68px; height:26px; line-height:26px; text-align:center; background-color:#e5e2e2; color:#787878; font-size:14px; margin-left:8px; display:inline; border-radius:2px;}
.alertbox-con .con a:hover{ background-color:#dad8d8;}
.alertbox-con .con textarea{ width:312px; padding:5px; height:146px; border:1px solid #dcdcdc; border-radius:3px; resize:none; color:#969696;}
.btnbox .filesubmit{width:102px; height:39px; line-height:39px; color:#fff; font-size:16px; background-color:#f4603c; margin:0 auto;font-family:\5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53;}
.btnbox .filesubmit:hover{ background-color:#ed7457;}
.alertbox .close{ width:16px; height:16px; position:absolute; display:block; text-indent:-9000px; background:url(/img/icon.png) no-repeat 0 -349px; right:12px; top:10px;}
.alertbox .close:hover{ background-position:1px -327px;}

/*footer*/
.footer{ padding:40px 0;text-align:center;}
.footer p{ text-align:center; color:#fff; margin-bottom:18px;}
.footer p span{ padding:0 3px;}
.footer p a{ color:#fff;}
.footer p img{margin:0 10px;}
.loading{display:none;z-index:100;width:100%;height:100%;background:#3B5C83;position:fixed;top:0px;left:0px;filter:alpha(opacity=50);-moz-opacity:0.5; opacity:0.5;}
.loading .loading-content{position:relative;top:35%;left:50%;}
.loading img{display:block;}
.clear-bt{clear:both;}
.input-loading-p{position:relative;display:inline-block;height:28;width:190px;vertical-align:top;}
.input-loading-n{position:absolute;top:0;left:0;height:28px;line-height:28px;display:inline-block;}
.input-loading-c{position:absolute;top:0;left:0;border:1px solid #ccc;width:188px;height:28px;line-height:28px;background:url(/img/loading-small.gif) no-repeat 0 0 ;background-position:center;}
.input-loading-text{display:inline-block;height:28px;line-height:28px;vertical-align:top;width:130px;text-align:left;}
.msg-wap .sel select.input-loading-n{vertical-align:top;}
.hidden{display:none;}
/** 修复combo日期插件 日期对齐bug*/
.combo input.combo-text{vertical-align:top;}
/** 新手引导 checkbox */
#guideBox .unonemore{margin-left:10px;}
#onmorebtn{
  width: auto;
  padding: 6px 18px 4px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(255,255,255);
  border: solid 1px rgb(0,60,180);
  background: rgb(0,99,255);
  background: -moz-linear-gradient(top, rgb(0,99,255) 0%, rgb(0,85,214) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,99,255)), color-stop(100%,rgb(0,85,214)));
  background: -webkit-linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  background: -o-linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  background: -ms-linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0063ff', endColorstr='#0055d6',GradientType=0 );
  background: linear-gradient(top, rgb(0,99,255) 0%,rgb(0,85,214) 100%);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) inset;
     -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3) inset;
          box-shadow: 0px 1px 0px rgba(255,255,255,0.3) inset;
    margin-left:38px;
    margin-right:30px;
}
/*返回顶部 */
.go_top{width:54px;height:54px;background:url(/img/go_top.png);position:fixed;bottom:95px;right:24px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-95));display:block;cursor:pointer;color: #fff;text-align: center;}
a.go_top:hover{background-position:0 -54px;}
/* 返回顶部 */
/**/
.bottom-tip{position:fixed;bottom:0;left:50%;margin-left:-200px;background:#F68736;border-radius:5px 5px 0px 0px;width:400px;
height:34px;line-height:34px;font-family:"微软雅黑";font-size:14px;color:#fff;text-align:center;
}
.required-tip{color:red;}
